<!DOCTYPE html>
<html>
<head>
    <title>Cerveur</title>
    <link rel="stylesheet" href="../static/index.css" />
    <style>
        .recipe {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
        img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Index page</h1>
    <div id="recipes"></div>

    <script>
        async function fetchRecipes() { //js async func to fetch the recipes from the route
            try {
                const response = await fetch('/'); // Fetch from the root
                const text = await response.text();
                document.getElementById('recipes').innerHTML = text; // Insert the response directly
            } catch (error) {
                console.error('Error fetching the recipes:', error);
            }
        }

        // Fetch and display the recipes when the page loads
        fetchRecipes();
    </script>
</body>
</html>
